
    .form-container {
      background: #fff;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      width: 300px;
    }

    .form-container h2 {
      margin-bottom: 20px;
      text-align: center;
      color: #333;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group label {
      display: block;
      margin-bottom: 6px;
      font-weight: bold;
      font-size: 14px;
      color: #555;
    }

    .form-group input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
      transition: 0.3s;
    }

    .form-group input:focus {
      border-color: #007BFF;
      box-shadow: 0 0 5px rgba(0,123,255,0.5);
      outline: none;
    }

    .form-container button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 8px;
      background: #007BFF;
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
    }

    .form-container button:hover {
      background: #0056b3;
    }
  main {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}
header{
    padding-top: 60px;
    font-size: 30px;
    font-style: italic;
    font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}
    
    