.second{
    text-align:center;
    font-size: large;
    background-color: rgb(70, 233, 21);
}
#last{
    text-align: center;
    background-color: burlywood;
}
.first{
    text-align: center;
}